$black: #000000;
$white: #ffffff;

$grey-100: #f0f0f0;
$grey-200: #2d2d2d;
$grey-300: #00000066;
$grey-400: #0000001a;
$grey-500: #00000033;

$blue-100: #e3eaff;
$blue-200: #2563eb;
$blue-300: #053aa8;

$orange-100: #fff9e3;
$orange-200: #cf971f;
$orange-300: #9c6f14;

$red-100: #ffe5e5;
$red-200: #d20300;
