$black: #000000;
$white: #FFFFFF;

$grey-100: #f0f0f0;
$grey-200: #2D2D2D;
$grey-300: #00000066;
$grey-400: #0000001A;
$grey-500: #00000033;

$blue-100: #E3EAFF;
$blue-200: #2563EB;
$blue-300: #053AA8;

$orange-100: #FFF9E3;
$orange-200: #CF971F;
$orange-300: #9C6F14;

$red-100: #FFE5E5;
$red-200: #D20300;