@use '../../styles/colors' as *;

.crispy-textfield {
  display: flex;
  flex-direction: column;
  min-height: 75px;
  gap: 4px;
  position: relative;
  font-family: 'Source Sans 3', sans-serif;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: $grey-200;
    line-height: 17.5px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  &__input {
    border: 1px solid $blue-200;
    background-color: $blue-100;
    border-radius: 3px;
    color: $black;
    font-family: 'Source Sans 3', sans-serif;
    line-height: 18.75px;
    font-size: 15px;
    width: 186px;
    height: 30px;
    padding: 0 6px;
    text-overflow: ellipsis;

    &__stretch {
      width: 100%;
      position: absolute;
      align-items: stretch;
    }

    &__fixedWidth {
      width: var(--fixed-width);
    }
  }

  &--secondary &__input {
    border: 1px solid $orange-200;
    background-color: $orange-100;
  }

  &--error &__input {
    border: 1px solid $red-200;
    background-color: $red-100;
  }

  &__error-container {
    display: flex;
    gap: 4px;
  }

  &__error-text {
    color: $red-200;
    line-height: 15px;
    font-size: 12px;
  }
}
