@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.box {
  width: 562px;
  height: 242px;
  padding: 48px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px #00000066;
  display: flex;
  justify-content: left;
  align-items: center;
}