@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap');

body {
  font-family: 'Source Sans 3', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.box {
  width: 562px;
  height: 242px;
  padding: 48px;
  background-color: white;
  box-shadow: 0 0 4px 0 #00000066;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 16px;

  &__text-field {
    padding-bottom: 22px;
  }
}